@model IEnumerable<ShopMVC.Models.Product>
@{
    ViewData["Title"] = "All Products";
}
@if (User.IsInRole("admin"))
    {
    <a asp-action="CreateProduct">New product</a>
    }
<h1>All Products</h1>

<div class="text-center">
    <table class="table" style=" border-collapse: inherit;">
        <tr><td>Id</td><td>Name</td><td>Company</td><td>Category</td><td>Description</td><td>Amount</td><td>Price</td></tr>
        @foreach (var item in Model)
        {
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Company</td>
        <td><a asp-controller="Home" asp-action="Categories" asp-route-nameCategory="@item.Category2">@item.Category2 </a></td>
        <td style="height:62.8px;width:450px;display:block;white-space: nowrap; text-overflow: ellipsis; overflow: hidden; ">@item.Description</td>
        @if(item.Amount >= 5){
            if (User.IsInRole("admin"))
            { <td style="color:green">@item.Amount</td> }else{ <td style="color:green">5+</td>}
        }else{
            <td style="color:tomato">@item.Amount</td>}
        <td>@item.Price</td>
        <td>
            <form  method="post" asp-controller="Home" asp-action="ProductView" asp-route-id="@item.Id">
                <input style="display: block; width: 100%; height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-family: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color:lightcyan; background-clip: padding-box; border: 1px solid #bdbdbd; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;"  type="submit" value="Product" />
            </form>
        </td>
        <td>
        @if (User.IsInRole("admin"))
        {
            <form  method="post" asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id">
                <input style="display: block; width: 100%; height: calc(2.25rem + 2px); padding: 0.375rem 0.75rem; font-family: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; background-color: orangered; background-clip: padding-box; border: 1px solid #bdbdbd; border-radius: 0.25rem; transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;" type="submit" value="Delete" />
            </form>
        }
        </td>
    </tr>
        }
    </table>
</div>