@model ShopMVC.Models.Product
@{
    ViewData["Title"] = "All Messages";
}

<a asp-action="CreateProduct">New product</a>
<h1>All Products</h1>
<p>@Model.Category1  / @Model.Category2</p>
<div class="text-center">
    <table class="table">
        <tr><td>Name</td><td>Company</td><td>Type</td><td>Description</td><td>Amount</td></tr>

                <tr><td>@Model.Name</td><td>@Model.Company</td><td>@Model.Type</td><td>@Model.Description</td><td>@Model.Amount</td><td>
                <form method="post" asp-controller="Home" asp-action="BuyTest"  asp-route-id="@Model.Id"  method="post">
                    <input type="submit" value="Buy Test" />
                </form>
            </td><td>
                <a class="profile-link text-dark" asp-controller="Home" asp-action="BuyProduct"  >Buy product</a>
            </td></tr>

    </table>
</div>